
<%- include('../partials/side-admin')%>
<!-- end admin sidebar -->



<div class="col py-3">


  <div class="container mt-5">

    <div class="d-flex justify-content-center align-items-center">
      <h3>Sales report</h3>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center justify-content-between">
        <a class="btn btn-primary" href="/admin/salesReport">All sales</a>
        <a class="btn btn-primary ms-2" href="/admin/dailyReport">Daily sales</a>
        <a class="btn btn-primary ms-2" href="/admin/monthlyReport">Monthly sales</a>
      </div>


      <button class="btn btn-success" onclick="CreatePDFfromHTML()">Download pdf</button>


    </div>

    <div class="sales table-responsive mt-5">

      <table class="table table-bordered border-primary" id="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Order id</th>
            <th scope="col">Customer</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment status</th>
            <th scope="col">Orderstatus</th>

          </tr>
        </thead>
        <tbody>
          <% count=1 %>
            <% allOrderDetails.forEach(order=> { %>
              <tr>
                <th scope="row">
                  <%= count %>
                </th>
                <td>
                 <%= order._id %>
                </td>
                <td>
                 <%= order.name %>
                </td>
                <td>
                 <%= order.totalAmount %>
                </td>
                <td>
                 <%= order.paymentStatus %>
                </td>
                <td>
                 <%= order.orderStatus %>
                </td>
              </tr>
              <% count++ %>
                <% }) %>

        </tbody>

      </table>

    </div>
    



  </div>



</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
  crossorigin="anonymous"></script>
 
  <!-- link of pdf,jquery,htmlcanvas -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

<script>
   function CreatePDFfromHTML() {
    var HTML_Width = $(".sales").width();
    var HTML_Height = $(".sales").height();
    var top_left_margin = 15;
    var PDF_Width = HTML_Width + top_left_margin * 2;
    var PDF_Height = PDF_Width * 1.5 + top_left_margin * 2;
    var canvas_image_width = HTML_Width;
    var canvas_image_height = HTML_Height;
    var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;
    html2canvas($(".sales")[0]).then(function (canvas) {
      var imgData = canvas.toDataURL("image/jpeg", 1.0);
      var pdf = new jsPDF("p", "pt", [PDF_Width, PDF_Height]);
      pdf.addImage(
        imgData,
        "JPG",
        top_left_margin,
        top_left_margin,
        canvas_image_width,
        canvas_image_height
      );
      for (var i = 1; i <= totalPDFPages; i++) {
        pdf.addPage(PDF_Width, PDF_Height);
        pdf.addImage(
          imgData,
          "JPG",
          top_left_margin,
          -(PDF_Height * i) + top_left_margin * 4,
          canvas_image_width,
          canvas_image_height
        );
      }
      pdf.save("sales report.pdf");
    });
  }
</script>



</body>

</html>