<%- include('../partials/user-header')%>


 <% if (countInCart !== 0) { %>
  

<section class="h-100 gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Cart - <%= countInCart %>  items</h5>
            </div>
            <% productData.forEach((product)=>{ %>
            <div class="card-body">
               
              <!-- Single item -->
              <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <img src="/admin-images/<%=product.productDetail._id%>.jpg"
                      class="w-100" alt="Blue Jeans Jacket" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>
  
                <div class="col-lg-5 col-md-6 mb-5 mb-lg-0">
                  <!-- Data -->
                  <p class="ml-5"><strong><%= product.productDetail.name %></strong></p>
                  
                 <p class="m-5"><strong>Category:</strong><%= product.category_name.category_name %> </p>
                  <button type="button" class="btn btn-danger btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                    title="Remove item"  onclick="removeProduct('<%=product._id%>','<%=product.productDetail._id%>')" >
                    <i class="fas fa-trash"></i>
                  </button>
                
                  <!-- Data -->
                </div>
  
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <!-- Quantity -->
                  <div class="d-flex mb-4" style="max-width: 300px">
                    <button class="btn btn-primary px-3 me-2 mt-5"
                    onclick="changeQuantity('<%=product._id%>','<%=product.productDetail._id%>',-1)" style="width: 50px;height: 50px;">
                      <i class="fas fa-minus"></i>
                    </button>
  
                    <div class="form-outline">
                        <strong>  <p class="mt-5 ml-3" id="<%= product.productDetail._id %>" min="0" name="quantity"><%= product.productQuantity%></p></strong>    <label class="form-label" for="form1">Quantity/kg</label>
                    </div>
  
                    <button class="btn btn-primary px-3 ms-1 mt-5"
                    onclick="changeQuantity('<%=product._id%>','<%=product.productDetail._id%>',1)" style="width: 50px;height: 50px;">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <!-- Quantity -->
  
                  <!-- Price -->
                  <p class="text-start text-md-center">
                    <strong> ₹ <%= product.productDetail.price%> </strong>
                  </p>
                  <!-- Price -->
                </div>
              </div>
              <!-- Single item -->
  
              <hr class="my-4" />
              <%  }) %>   <!-- Single item -->
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <p><strong>Expected shipping delivery</strong></p>
              <p class="mb-0">Within 3 or 4 days</p>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p><strong>We accept</strong></p>
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="Visa" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                alt="American Express" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp"
                alt="PayPal acceptance mark" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Summary</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                  Products
                  <span id="sum">₹ <%= sum %></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                  Shipping
                 
                    <span>Free delivery</span>
                 
                  
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>Total amount</strong>
                    <strong>
                      <p class="mb-0">(including VAT)</p>
                    </strong>
                  </div>
                  <span id="netamount"><strong> ₹ <%= sum %> </strong></span>
                </li>
              </ul>
  
             <a href="/checkout"> <button type="button" class="btn btn-primary btn-lg btn-block">
                Go to checkout
              </button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




    <%- include('../partials/user-footer')%> 
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>











<% }else { %>

  <div class="container-fluid  " style="height: 75vh; margin-top: 80px;">
    <div class="row">
    
     <div class="col-md-12 mt-5">
     
         
     
       <div class="card-body cart ">
           <div class="col-sm-12 empty-cart-cls text-center mt-5">
             <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3 ">
             <h3><strong>Your Cart is Empty</strong></h3>
             <h4>Add something to make me happy :)</h4>
             <a href="/shop" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
             
           
           </div>
       </div>
   </div>
       
     
     </div>
    
    </div>
   
   

   <% } %>




   