<%- include('../partials/user-header')%>


 <% if (countInCart !== 0) { %>
  
 
<section class="bg-light " style="margin-top: 100px;">
    <div class="container p-3 ">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic </p>
                    <h1>Cart</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end breadcrumb section -->

<!-- cart -->
<div class="container bg-light" >

   
        <div class="row">
            <div class=" col-md-8 col-lg-12 ">
                <div class="cart-table-wrap">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr class="table-head-row">
                                <th class="product-remove">Remove</th>
                                <th class="product-image">Product Image</th>
                                <th class="product-name">Name</th>
                                <th class="product-price">Price/kg</th>
                                <th class="product-quantity">Quantity in kg</th>
                                
                            </tr>
                        </thead>
                        <tbody>

                            <% productData.forEach((product)=>{ %>

                           
                                <tr class="table">
                                    <td class="product-remove " ><button class="my-5 btn"
                                            onclick="removeProduct('<%=product._id%>','<%=product.productDetail._id%>')"><img src="/images/cancel.png" alt="" style="width: 40px;"></button>
                                    </td>
                                    <td class="product-image" >
                                        <div class="mt-3" style="width: 10vw;height:10vh;"><img
                                            src="/admin-images/<%=product.productDetail._id%>.jpg"  class="img-fluid" alt="" ></div></td>
                                    <td class="product-name">
                                      <h6 class="my-5">  <%= product.productDetail.name %> </h6>
                                    </td>
                                    <td class="product-price">
                                      <h6 class="my-5"> <%= product.productDetail.price%> ₹ </h6>
                                    </td>
                                    <td class="product-quantity">
                                        <div class="container d-flex">
                                                                     
                                            <button
                                                class="cart-item-count  mr-2 my-5 btn" 
                                                onclick="changeQuantity('<%=product._id%>','<%=product.productDetail._id%>',-1)"><img src="/images/icons8-minus-48.png" alt="" style="width: 21px;"></button>
                                                
                                          <strong>  <p class="mt-5" id="<%= product.productDetail._id %>" min="0" name="quantity"><%= product.productQuantity%></p></strong>
                                            
                                            <button class="cart-item-count ml-2 mr-3 my-5 btn"
                                                onclick="changeQuantity('<%=product._id%>','<%=product.productDetail._id%>',1)"><img src="/images/icons8-plus-67.png" alt="" style="width: 20px;"></button>
                                        </div>
                                    </td>
                              
                                               
                                </tr>
                          <%  }) %>  
                        </tbody>
                     </table>
                 </div>
             </div>
         </div>
    
 </div>
            
         <div class="container-fluid bg-light " style="height: 75vh;">
            
            <div class="card" style="width: 18rem; margin: 10%; margin-right: 10%;">
            <div class="col-lg-12">
                <!-- <h4 class="text-warning "> place order</h4><br> -->     
                <div class="total-section my-5">
                    
                    <table class="total-table">
                        
                        <thead class="total-table-head">
                            
                            <tr class="table-total-row">
                              
                                <th>Total</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="total-data">
                                <td><strong>Subtotal: </strong></td>
                               
                                    <td>
                                        <p id="sum"> ₹</p>
                                    </td>
                                    
                            </tr>
                            <tr class="total-data">
                                <td><strong>Shipping: </strong></td>
                                <td>0 (free delivary)</td>
                               
                            </tr>
                            <tr class="total-data">
                                <td><strong>Total: </strong></td>
                               
                                    <td>
                                        <p id="netamount">  ₹</p>
                                    </td>
                                   
                            </tr>
                        </tbody>
                    </table>
                    <div class="cart-buttons">
                        <a href="/checkout" class="btn btn-primary ml-5 mt-5">Go to Check Out</a>
                    </div>
                </div>

               
            </div>
        </div>
    </div>
</div>
    <%- include('../partials/user-footer')%> 
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<% }else { %>

  <div class="container-fluid  " style="height: 75vh; margin-top: 80px;">
    <div class="row">
    
     <div class="col-md-12 mt-5">
     
         
     
       <div class="card-body cart ">
           <div class="col-sm-12 empty-cart-cls text-center mt-5">
             <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3 ">
             <h3><strong>Your Cart is Empty</strong></h3>
             <h4>Add something to make me happy :)</h4>
             <a href="/shop" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
             
           
           </div>
       </div>
   </div>
       
     
     </div>
    
    </div>
   
   

   <% } %>




   