

<%- include('../partials/user-header') %>
<link rel="stylesheet" href="/public/stylesheets/u-home.css">

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false" >
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/4.jpg" class="d-block w-100" alt="..." style="height: 75vh;width: 100vw;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h5>
        <button class="btn bg-light border-5 ">Shop Now</button>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/1qw23.jpg" class="d-block w-100" alt="..." style="height: 75vh;width: 100vw;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <button class="btn bg-light border-5">Shop Now</button>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/Ginger-cake-Landscape-1.jpg" class="d-block w-100" alt="..." style="height: 75vh;width: 100vw;">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <button class="btn bg-light border-5">Shop Now</button>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    
<!-- -------------------------------------------------------------------------- -->
    <!-- shop banner -->
	
  
   
    <!-- end shop banner -->
  

  <section class="next py-5">
    <div class="container-fluid py-5">
      <div class="row">

        <div class="col-lg-4">
          <div class="card zoom-n-rotate">
            <img src="/images/cake-y.jpg" alt="" class="img-fluid">
            <a href="/category-wise/63999de9c100c5b4294a4aea"><button class="btnc">Shop for more</button></a>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card zoom-n-rotate">
            <img src="/images/AssortedCupcakes1-gree.webp" alt="" class="img-fluid">
            <a href="/category-wise/63999e00c100c5b4294a4aef"><button class="btnc">Shop for more</button></a>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card zoom-n-rotate">
            <img src="/images/2nd - desset.webp" alt="" class="img-fluid">
            <a href="/category-wise/63999e15c100c5b4294a4af3"><button class="btnc">Shop for more</button></a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <% if(bannerData.length){ %> 
  <section class="banner">
    <div class="container">

      <h4 class="p-3 text-white"><%= bannerData[0].bannerText %> <br> Order on <span class="caketext">CAKE...</span></h4>
      <div class="text-center"><span class="text-white"><h6>Use the code...<br></h6></span><strong class="caketext"><%=bannerData[0].couponName%></strong>&nbsp<span>to get <br> discount.</span></div>
      <a href="/shop" class="btn btn-danger">Shop Now</a>

    </div>
  </section>
  <% } %> 
  <!------------------------------------------------------------------------>


  <section class="product py-5">
    <div class="container py-5">
      <h1>Our products</h1>
      <div class="row pt-5">
        <% product.forEach((products)=>{ %>
        <div class="col-lg-3">
          <div class="card border-0">
            <% if (customer) { %>
             <a href="/product-view/<%= products._id %>"> <div class="card-body py-5 bg-light">
                <img src="/admin-images/<%=products?._id%>.jpg" alt="" class="img-fluid">
              </div></a>
              <% }else{ %>
           <a href="/login"> <div class="card-body py-5 bg-light">
              <img src="/admin-images/<%=products?._id%>.jpg" alt="" class="img-fluid">
            </div></a>
            <% } %> 
            <% if (products.price>500) { %>
              <div class="discount">
                -23%
              </div>
            <% } %>
           
            <div class="card-footer border-0 text-center bg-white">
              <h5><%= products?.name %></h5>
              <p class="m-0">₹<%= products.price %></p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
<!-- -------------------------------------------------------------------------- -->

<section class="iconic py-5">
  <div class="container text-center py-5">
    <div class="row pb-5">
      <div class="col-lg-4">
        <span><i class="fas fa-truck icone"></i></span>
        <h3 class="py-3">Free shipping</h3>
        <p class="text-center">Divided face for bearing the divide on to seed 
          winged divided light Forth the bearing</p>
      </div>

      <div class="col-lg-4">
        <span><i class="fas fa-address-card icone"></i></span>
        <h3 class="py-3">Free shipping</h3>
        <p class="text-center">Divided face for bearing the divide on to seed 
          winged divided light Forth the bearing</p>
      </div>

      <div class="col-lg-4">
        <span><i class="fas fa-calendar-alt icone"></i></span>
        <h3 class="py-3">Free shipping</h3>
        <p class="text-center">Divided face for bearing the divide on to seed 
          winged divided light Forth the bearing</p>
      </div>

    </div>
  </div>
</section>



     
    


     
    <%- include('../partials/user-footer') %>
    
   


    
   