<%- include('../partials/user-header') %>
<link rel="stylesheet" href="/public/stylesheets/product-view.css"> 




<div class="container py-4 my-4 mx-auto d-flex flex-column" ">
    <div class="header" style="margin-top: 50px;">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h1><%= product.name %></h1>
               
            </div>
           
            <div class="col-md-3 text-right pqr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
            <p class="text-right para">Based on 250 Review</p>
        </div>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-5 p-0 klo">
                <ul>                 
                    <p><strong>Category :</strong><%= product.category.category_name %></p>
                    <p><%= product.description %></p>
                    <li><h5 class="text-danger">Price:<%= product.price %>₹</h5></li>
                    <li>100% Quality <br>
                  <small>(Free Delivery)</small>
                </li>
                   
                </ul>
                
            </div>
            <div class="col-md-7">
                <figure id="zoomer" class="zoom" onmousemove="zoom(event)"
                style="background-image: url(/admin-images/<%=product._id%>.jpg) ;width: 50%;">
                 <img src="/admin-images/<%= product._id %>.jpg" width="50%" >

                </figure>



                 </div>
        </div>
    </div>
    <div class="footer d-flex flex-column mt-5">
        <div class="row r4">
            <div class="col-md-2 myt des"><a href="#">Description</a></div>
            <div class="col-md-2 myt "><a href="#">Review</a></div>
            
            <div class="col-md-2 myt "><button type="button" onclick="addToCart('<%= product._id %>')" class="btn btn-outline-warning ">Add to cart</button></div>
        </div>
    </div>
</div>

<script>
    function offZoom(e) {
        img.style.transformOrigin = `center center`;
        img.style.transform = "scale(1)";
    }
    function zoom(e) {
        var zoomer = e.currentTarget;
        e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
        e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
        x = offsetX / zoomer.offsetWidth * 100
        y = offsetY / zoomer.offsetHeight * 100
        zoomer.style.backgroundPosition = x + '% ' + y + '%';
    }
</script>


<%- include('../partials/user-footer') %>

<!-- ------------------------------------------------------------------- -->




